//Home.vue Doc.vue
$width1: 1200px;
$font-color1: #09ae8b;
$line-color1: #a0efd2;
$font-size1: 20px;

//Button.vue 和每个组件'回到顶部'按钮
$button-background-color1: #1890ff;
$button-background-color2: #40a9ff;
$button-border-color1: #d9d9d9;
$button-border-radius: 4px;
$button-color1: #333;
$button-normal-font-size: 16px;
$button-big-font-size: 20px;
$button-small-font-size: 12px;

//Switch.vue
$switch-height1: 22px;
$switch-height2: $switch-height1 * 2;
$switch-height3: 18px;
$switch-height4: 11px;
$switch-height5: 9px;

//Dialog.vue
$dialog-background-color1: rgba(0, 0, 0, 0.5);
$dialog-border-radius: 4px;
$dialog-border-color1: #d9d9d9;


//Tabs.vue
$tabs-border-bottom-color: #d9d9d9;
$tabs-line-color: #1890ff;

//Form.vue
$form-background-color1: #1890ff;
$form-background-color2: #40a9ff;
$form-input-color1: rgba(0, 0, 0, 0.65);
$form-span-color1: rgba(0, 0, 0, 0.85);
$form-border-color1: #d9d9d9;
$form-color1: #333;
$form-border-radius: 4px;
$form-normal-font-size: 16px;
$form-box-shadow1: 0 0 0 2px rgb(24 144 255 / 20%);
$form-box-shadow2: 0 0 0 2px rgb(245 34 45 / 20%);

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  font-family: -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC',
  'Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN', 'Microsoft YaHei', 'Wenquanyi Micro Hei',
  'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
  overflow-y: scroll;
}
